input[type="button"] {
    padding: 10px 30px;
    background-color: blue;
    color: white;
    border: 0 solid #000;
    border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 40px;
    box-shadow: 10px 0 5px 5px #0005,
        -10px 0 5px 5px #0005,
        0 10px 5px 5px #0005,
        0 -10px 5px 5px #0005;
}

form * {
    margin-top: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Consolas, sans-serif;
}

.alert {
    width: 100%;
    text-align: center;
    color: red;
}