<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson4</title>

        <style>
            h1 {
                color: yellow;
                text-align: center;
            }

            body {
                background-color: green;
            }

            button {
                padding: 10px 20px;
                background-color: blue;
                color: white;
                border-radius: 10px;
            }

            img {
                display: block;
            }
        </style>
    </head>

    <body>
        <h1>My Simple Chat</h1>
        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png">
        <a href="/messages"><button>Join Room</button></a>
    </body>
</html>