<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Room | Register</title>
        <link rel="stylesheet" href="/register-login.css">
    </head>

    <body>
        <form>
            <input placeholder="First name">
            <input placeholder="Last name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="button" value="Register">
            <h3 class="alert"></h3>
        </form>

        <script src="/register.js"></script>
    </body>
</html>